body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: mediumslateblue;
}
.div {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
  }
  
  .balance-container h1,
  .balance-container h2 {
    margin-bottom: 20px;
  }
  
  .top-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .top-up-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .top-up-form {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: rgb(103, 67, 180);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .top-up-form  {
    background-color: #171160;
  }
  button{
    background-color: mediumblue;
  }
  